[add]
    secrets = "ignore"

{{if eq .chezmoi.os "windows"}}
[hooks.apply.post]
    # command = ".scripts/ps/copy-profile.ps1"
    command = "pwsh"
    args = ["-File",".scripts/ps/copy-profile.ps1"]
{{end}}

